<!DOCTYPE html>
<html>
  <head>
    <title>Votr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCAIEMG2OK29aJZkHhRyu0xW1iaQT_3ExU" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>

    <script type="text/javascript">
     window.logoUrl = "<%= image_url('votr_logo.png') %>"
     window.faviconUrl = "<%= image_url('favicon.png') %>"
   </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
